<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/../css/main.css">
    <link rel="stylesheet" href="/../css/background.css">
    <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script></head>
    <title>Appstractor Index</title>
<body>
    <!-- fixed -->
    <div class="nav-container">
        <nav>
            <a href="/" class="logo-icon">&nbspA&nbsp</a>
            <a href="/new">Render</a>    
            <a href="/show">Gallery</a>   
            <a href="#">Sign Out</a>
        </nav>
    </div>
    <!-- absolute + relative overlay for gradient text -->
    <div class="logo-container">
        <!-- <div class="filler nav-container"></div> -->
        <div class="logo">Appstractor</div>
        <!-- <div class="filler nav-container"></div> -->
    </div>
    <!-- relative -->
    <div class="filler nav-container"></div>
    <div class="logo-bg-color"></div>
    <div class="filler nav-container"></div>
    <!-- absolute image grid -->
    <div class="image-grid"></div>
    <!-- absolute bg image -->
    <div class="overlay-color"></div>
    <div class="overlay-image"></div>
    <script type="text/javascript" src="/../js/index.js"> </script>
</body>
</html>