<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/../css/main.css">
    <link rel="stylesheet" href="/../css/iframe.css">
    <link rel="stylesheet" href="/../css/popups.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Appstractor Show</title>
</head>
<!-- since iframe and not parent window refreshes, script params needed to keep track of data -->
<div id="length" style="display: none">
    <%= data.length %>
</div>
<!-- used to save unqiue file names on user download -->
<div id="docIDs" style="display: none">
    <!-- adds blank elements at start and end to isolate enter characters -->
    <%  const docIDs = [null];
        for(let i = 0; i <data.length; i++) { 
            docIDs.push(data[i].id);
        } 
        docIDs.push(null) %>
    <%= docIDs %>
</div>
<div id="user" style="display: none">
    <%= user %>
</div>
<body>
    <!-- fixed navigation-->
    <div class="nav-container">
        <nav>
            <a href="/" class="logo-icon">&nbspA&nbsp</a>
            <a href="/new">Render</a>    
            <a href="/show" class="active">Gallery</a>   
            <a href="#">Sign Out</a>
        </nav>
    </div>
    <!-- relative iframe-->
    <div class="filler nav-container"></div>
    <div class="iframe-container" id="canvas">
        <div id="load-bar-container">
            <div id="load-bar"></div>
        </div>
        <div id="left-arrow"> < </div>
        <div id="right-arrow"> > </div>
        <iframe></iframe>
    </div>
    <div class="filler buttons-container"></div>
    <!-- fixed navigation -->
    <div class="buttons-container">
        <div class="buttons">
            <!-- action route assigned and reassigned via jQuery within page script -->
            <form method="POST" class="button-form" id="delete-form"> :
                <button type="submit" class="button" id="delete">
                    <img src="/../images/delete.png" class="button-image">
                    <div class="button-text"> Delete </div>
                </button>
            </form>  
            <!-- action route reassigned via jQuery within page script -->
            <form method="POST" class="button-form" id="download-form">
                <button type="submit" class="button center" id="download">
                    <img src="/../images/download.png" class="button-image">
                    <div class="button-text"> Download </div>
                </button>  
            </form>  
            <div class="button" id="edit">
                    <img src="/../images/render.png" class="button-image">
                    <div class="button-text"> Edit </div>
            </div> 
        </div>
    </div>
    <!-- pop up navigation -->
    <div class="buttons-container" id="edit-panel">
        <div class="buttons">
            <div class="button" id="detail">
                <img src="/../images/detail.png" class="button-image"> 
                <div class="button-text"> Detail </div>
            </div>   
            <div class="button" id="shadow">
                <img src="/../images/shadow.png" class="button-image">
                <div class="button-text"> Shadow </div>
            </div>  
            <!-- action route assigned and reassigned via jQuery within page script -->
            <form method="POST" class="button-form" id='save-form'>
                <!-- value assigned via jQuery within iframe script -->
                <input type="text" name="dom" class="input-hide">
                <button type="submit" class="button" id="save">
                    <img src="/../images/save.png" class="button-image">
                    <div class="button-text"> Save </div>
                </button>
            </form>
        </div>
    </div>
    <!-- absolute bg image -->
    <div class="overlay-color"></div>
    <div class="overlay-image"></div>
    <script type="text/javascript" src="/../js/show.js"></script>
</body>
</html>